.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 3px solid darkgreen;
}

@media only screen and (max-width: 1024px) {
  .main-header {
    background-color: rgb(135, 189, 243);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    margin: 0;

  }
}

.joined-main {
  background-color: rgb(135, 189, 243);
  /* background-color: #83cbf2; */
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  padding: 10px;
  /* border: 3px solid blue; */
}

.joined-main h2 {
  text-align: center;
  /* border: 3px solid purple; */
  justify-content: center;
}

.joined-main img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  /* border: 3px solid green; */
}

h2 {
  display: flex;
  align-items: center;
  /* border: 3px solid pink; */
}

